#kite {
    font-family: Calligraffitti;
    font-size: 30px;
}

#addSpot {
    background-color: #5abeec;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;

    padding: 5px 20px;
    margin-right: 20px;
}

#addSpot:hover {
    background-color: #32a3d8;
    cursor: pointer;
}

#lineBtn:hover {
    cursor: pointer;
}

.profile:hover {
    background-color: #ccc;
    border-radius: 5px;
}

#logoutButton:focus {
    background-color: #ccc;
}

#userInfoButton {
    background-color: #ccc;
}

#logoutButton:focus {
    background-color: #ccc;
}

#closeButton:focus {
    background-color: #ccc;
}